extends layout

block content
  h1= title
  
  
  table.table.table-striped
    thead
      tr  
        th Entity Id
        th Entity Name
        th Tags
        th # Events

      tbody
        each entity in entityList
          tr
            td
              small=entity.entityId
            td=entity.entityName

            td
              each tag in entity.tags
                  span.badge.badge-primary.mx-1
                    | #{tag.key}: #{tag.value}

            td=entity.events.length

